/* General Styles */
body {
    background: linear-gradient(to right, #401F71, #824D74);
    color: #FDAF7B;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
}

.card {
    background-color: #824D74;
    border: none;
}

.card-body {
    color: #FDAF7B;
}

.card-header {
    background-color: #401F71;  /* Dark background for card header */
    color: #FDAF7B;  /* Ensure the text color matches the theme */
    font-weight: 500;
}

.navbar {
    background-color: #401F71;
    border-bottom: 2px solid #FDAF7B;
}

.nav-link, .navbar-brand {
    color: #FDAF7B !important;
    font-weight: 500;
}

.nav-link:hover, .navbar-brand:hover {
    color: #BE7B72 !important;
}

.btn-secondary, .btn-primary, .btn-danger {
    background-color: #FDAF7B;
    border: none;
    color: #401F71;
    font-weight: 500;
}

.btn-secondary:hover, .btn-primary:hover, .btn-danger:hover {
    background-color: #BE7B72;
    color: #401F71;
}

.form-control {
    background-color: #824D74;
    border: 1px solid #FDAF7B;
    color: #FDAF7B;
    font-family: 'Roboto', sans-serif;
}

.form-control:focus {
    background-color: #824D74;
    border: 1px solid #FDAF7B;
    color: #FDAF7B;
}

.table {
    color: #FDAF7B;
}

.table th, .table td {
    border-color: #BE7B72;
}

.text-white a {
    color: #FDAF7B;
}

.text-white a:hover {
    color: #BE7B72;
}

.text-info {
    color: #FDAF7B !important;
}

.spinner-border {
    color: #FDAF7B;
}

.mt-auto {
    margin-top: auto;
}